services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"

  backend:
    build: ./backend
    container_name: backend
    restart: unless-stopped
    ports:
      - "8080:8080"   # host:container
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017/dd_db   # use service name 'mongo' inside Docker network

  frontend:
    build: ./frontend
    container_name: frontend
    restart: unless-stopped
    ports:
      - "80:80"     # host:container
    depends_on:
      - backend
